body {
  box-sizing: border-box;
}

*:focus {
  outline: 0 !important;
}

#cabecalho-mobile {

  &.fixed {
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }
}

#cabecalho-desktop-fixed {
  background-color: #fff;
  width: 100%;
  z-index: -10;
  opacity: 0;
  position: absolute;
  top: 0px;
  box-shadow: 0px 3px 6px #00000029;
  transition: .3s;

  &.fixed {
    position: fixed;
    top: 0px;
    opacity: 1;
    z-index: 10;
  }

  .box-logo {
    margin-left: 30px;

    img {
      width: 50px;
      height: 50px;
    }
  }

  .box-button {
    button {
      background-color: #1C69D4;
      border: 1px solid #1C69D4;
      padding: 21px 70px;
      font-weight: bold;
      color: #fff;
      transition: .3s;

      &:hover {
        background-color: #0351BE;
        border: 1px solid #0351BE;
      }
    }
  }
}

.cabecalho {

  .container {
    padding: 20px 0px;

    @media screen and (min-width: 992px) {
      padding: 30px 0px;
    }
  }

  .header-box-button {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;

    button {
      display: flex;
      align-items: center;
      padding: 12px 17px;
      border: 1px solid #000;
      background-color: #000;
      color: #fff;

      font-weight: bold;
      font-size: 14px;
      transition: .3s;

      &:hover {
        border: 1px solid #575757;
        background-color: #575757;
      }

      &.wpp {
        background-color: #25D366;
        border: 1px solid #25D366;

        &:hover {
          border: 1px solid #35AA61;
          background-color: #35AA61;
        }
      }

      img {
        filter: invert(100%) sepia(1%) saturate(2%) hue-rotate(272deg) brightness(107%) contrast(100%);
        width: 24px;
        height: 24px;
        margin-right: 9px;
      }
    }
  }

  .header-box-button-mobile {
    button {
      display: flex;
      align-items: center;
      padding: 12px 17px;
      border: 1px solid #fff;
      background-color: #fff;
      color: #666666;

      font-weight: bold;
      font-size: 14px;

      &.wpp {
        background-color: #25D366;
        border: 1px solid #25D366;
      }

      img {
        filter: invert(41%) sepia(0%) saturate(347%) hue-rotate(198deg) brightness(93%) contrast(84%);
        width: 24px;
        height: 24px;
        margin-right: 9px;
      }
    }
  }

  .header-box-letter-filter {

    a {
      color: #666666;
      font-size: 14px;
      line-height: 19px;
      font-weight: bold;
      margin-right: 45px;
      transition: .3s;

      &:hover {
        color: #1C69D4;
        text-decoration: none;
      }

      &:last-child {
        margin-right: 0px;
      }
    }
  }

  .box-header-logo {
    width: 50px;
    height: 50px;
    padding: 0px 15px;

    @media screen and (min-width: 992px) {
      width: auto;
      height: auto;
    }

    img {
      width: 100%;
      height: 100%;

      @media screen and (min-width: 992px) {
        width: auto;
        height: auto;
      }
    }
  }
}

.home {

  padding-top: 90px;

  @media screen and (min-width: 992px) {
    padding-top: 0px;
  }

  .box-contact-mobile {

    button {
      background-color: #1C69D4;
      border: 1px solid #1C69D4;
      color: #fff;
      font-size: 14px;
      line-height: 19px;
      font-weight: bold;
      text-align: center;
      width: 100%;
      padding: 18px 0px;
      transition: .3s;

      &:hover {
        background-color: #0351BE;
        border: 1px solid #0351BE;
      }
    }
  }

  .hero {

    .carousel {

      .flickity-viewport {
        @media screen and (min-width: 992px) {
          width: 100%;
          height: 720px;
        }

        height: 540px;
      }

      .flickity-page-dots {
        bottom: 25px;
      }

      .flickity-button {
        display: none;
      }

      .flickity-page-dots .dot.is-selected {
        background: #1C69D4;
      }

      .flickity-page-dots .dot {
        background: #fff;
        opacity: 1;
        width: 15px;
        height: 15px;
      }

      .carousel-cell {
        width: 100%;
        height: 100%;
        padding: 0px;
        margin: 0px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .form {
      position: absolute;
      top: 30px;

      @media screen and (min-width: 992px) {
        right: 17%;
      }

      @media screen and (min-width: 1400px) {
        right: 20%;
      }

      @media screen and (min-width: 1600px) {
        right: 25%;
      }


      form {
        background-color: #fff;
        box-shadow: 0px 3px 6px #00000029;
        padding: 30px 20px;
        display: flex;
        flex-direction: column;

        input,
        select,
        textarea {
          font-size: 14px;
          border: none;
          border-bottom: 1px solid #BBBBBB;
          padding-bottom: 8px;
          margin-bottom: 30px;

          &:focus {
            border-bottom: 2px solid #1C69D4;
          }
        }

        textarea {
          resize: none;
        }

        input[type='checkbox'] {
          width: 15px;
          height: 15px;
          margin-right: 7px;
          margin-bottom: 0px;
        }

        label {
          margin-bottom: 0px;
          font-size: 14px;

          a {
            color: #666666;
            transition: .3s;

            &:hover {
              color: #1C69D4;
              text-decoration: none;
            }
          }
        }

        button[type='submit'] {
          background-color: #1C69D4;
          border: 1px solid #1C69D4;
          width: 100%;
          padding: 12px 0px;
          font-weight: bold;
          color: #fff;
          transition: .3s;

          &:hover {
            background-color: #0351BE;
            border: 1px solid #0351BE;
          }
        }

        .box-politica {
          padding: 0px 7px;
          margin-bottom: 19px;
        }
      }

      .form-contact {

        h3 {
          font-size: 20px;
          color: #000;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 32px;

          img {
            width: 24px;
            height: 24px;
            margin-right: 11px;
            filter: invert(33%) sepia(99%) saturate(1280%) hue-rotate(200deg) brightness(83%) contrast(100%);
          }
        }
      }

      .box-politica {
        display: flex;
        align-items: center;
      }
    }
  }

  .cars-section {

    @media screen and (min-width: 992px) {
      padding: 80px 0px;
    }

    padding: 59px 0px;

    .box-title {

      h1 {
        color: #262626;
        font-size: 40px;
        line-height: 48px;
        text-transform: uppercase;
        margin-bottom: 60px;
      }
    }

    .box-card {
      margin-bottom: 30px;

      .box-button {
        display: flex;
        justify-content: space-between;

        a {
          width: 47%;

          @media screen and (min-width: 992px) {
            width: 100%;
          }
        }

        button {
          background-color: #1C69D4;
          border: 1px solid #1C69D4;
          width: 100%;
          padding: 12px 0px;
          font-weight: bold;
          color: #fff;
          margin-bottom: 30px;
          transition: .3s;

          &:hover {
            background-color: #0351BE;
            border: 1px solid #0351BE;
          }

          &.button-modal-form {
            width: 47%;
          }

          &.button-ligar {
            border: 1px solid #666666;
            background-color: #666666;
          }
        }
      }

      img {
        margin-bottom: 16px;
        width: 100%;
        transition: .3s;

        &:hover {
          opacity: .5;
        }
      }

      h4 {
        color: #262626;
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 24px;
        font-weight: 500;
      }

      .box-share {
        display: flex;
        align-items: center;

        p {
          font-size: 12px;
          line-height: 15px;
          color: #262626;
          margin-right: 15px;
          margin-bottom: 0px;
        }

        img {
          width: 22px;
          height: 22px;
          filter: invert(41%) sepia(0%) saturate(347%) hue-rotate(198deg) brightness(93%) contrast(84%);
          margin-right: 15px;
          margin-bottom: 0px;
          transition: .3s;
          cursor: pointer;

          &:hover {
            filter: invert(54%) sepia(68%) saturate(7989%) hue-rotate(209deg) brightness(75%) contrast(163%);
          }

          &:last-child {
            margin-right: 0px;
          }
        }
      }
    }
  }
}

footer {
  background-color: #e6e6e6;

  .footer {

    .box-text {
      padding: 40px 0px;
      border-bottom: 1px solid #BBBBBB;

      p {
        color: #262626;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        margin-bottom: 0px;
      }
    }

    .box-copyright {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 40px 0px 40px;
      flex-direction: column;

      @media screen and (min-width: 992px) {
        flex-direction: row;
        padding: 40px 0px 80px;
      }

      .box-logo-image {

        @media screen and (min-width: 992px) {
          display: block;
        }

        display: none;

        img {
          width: 50px;
        }
      }

      .box-text {
        padding: 0px;
        border: none;
        width: 100%;
        margin-bottom: 30px;

        @media screen and (min-width: 992px) {
          width: auto;
          margin-bottom: 0px;
        }

        p {
          font-size: 12px;
          color: #262626;
          line-height: 15px;
          margin-bottom: 0px;
        }
      }

      .box-alpes {
        display: flex;
        align-items: center;
        width: 100%;
        display: flex;
        justify-content: center;

        @media screen and (min-width: 992px) {
          width: auto;
        }

        p {
          font-size: 10px;
          color: #262626;
          line-height: 12px;
          margin-right: 10px;
          margin-bottom: 0px;
        }
      }
    }
  }

  .footer-fixed {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px -3px 6px #00000029;


    .box-text {
      display: flex;
      align-items: center;
      justify-content: end;
      padding: 16px 0px;

      .box-contact,
      .box-tour {
        a {
          display: flex;
          align-items: center;
          margin-right: 30px;

          p {
            transition: .3s;
          }

          img {
            transition: .3s;
          }

          &:hover {
            p {
              color: #0351BE;
            }

            img {
              filter: invert(19%) sepia(44%) saturate(4989%) hue-rotate(209deg) brightness(97%) contrast(98%);
            }

            text-decoration: none;
          }
        }

        p {
          font-size: 14px;
          color: #666666;
          margin-bottom: 0px;
          font-weight: bold;
        }

        img {
          width: 20px;
          height: 20px;
          margin-right: 7px;
          filter: invert(41%) sepia(0%) saturate(347%) hue-rotate(198deg) brightness(93%) contrast(84%);
        }
      }
    }
  }
}

.box-whatsapp {
  background-color: #25D366;
  border-radius: 50%;
  padding: 10px;
  position: fixed;
  left: 20px;
  bottom: 20px;
  z-index: 10;

  img {
    width: 50px;
    height: 50px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(49deg) brightness(103%) contrast(103%);
  }
}

.form-mobile-modal {

  position: absolute;
  opacity: 0;
  z-index: -20;
  top: 0px;
  transition: .3s;

  &.fixed {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #00000052;
    z-index: 20;
    opacity: 1;
  }

  .box-close-button {
    width: 100%;

    button {
      width: 100%;
      padding: 13px 0px;
      border: 1px solid #666666;
      background-color: #666666;
      color: #fff;
      font-weight: bold;
    }
  }

  form {
    background-color: #fff;
    box-shadow: 0px 3px 6px #00000029;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;

    input,
    select,
    textarea {
      font-size: 14px;
      border: none;
      border-bottom: 1px solid #BBBBBB;
      padding-bottom: 8px;
      margin-bottom: 30px;

      &:focus {
        border-bottom: 1px solid #1C69D4;
      }
    }

    textarea {
      resize: none;
    }

    input[type='checkbox'] {
      width: 15px;
      height: 15px;
      margin-right: 7px;
      margin-bottom: 0px;
    }

    label {
      margin-bottom: 0px;
      font-size: 14px;

      a {
        color: #666666;
        transition: .3s;

        &:hover {
          color: #1C69D4;
          text-decoration: none;
        }
      }
    }

    button[type='submit'] {
      background-color: #1C69D4;
      border: 1px solid #1C69D4;
      width: 100%;
      padding: 12px 0px;
      font-weight: bold;
      color: #fff;
      transition: .3s;

      &:hover {
        background-color: #0351BE;
        border: 1px solid #0351BE;
      }
    }

    .box-politica {
      padding: 0px 7px;
      margin-bottom: 19px;
    }
  }

  .form-mobile-contact {

    h3 {
      font-size: 20px;
      color: #000;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 32px;

      img {
        width: 24px;
        height: 24px;
        margin-right: 11px;
        filter: invert(33%) sepia(99%) saturate(1280%) hue-rotate(200deg) brightness(83%) contrast(100%);
      }
    }
  }

  .box-politica {
    display: flex;
    align-items: center;
  }
}